<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>


<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
    var gads = document.createElement('script');
    gads.async = true;gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;gads.src = (useSSL ? 'https:' : 'http:') +'//www.googletagservices.com/tag/js/gpt.js';var node = document.getElementsByTagName('script')[0];node.parentNode.insertBefore(gads, node);})();</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
	googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [[300, 250],[300, 600]], 'div-gpt-ad-{{ variable }}-300x250-0').addService(googletag.pubads()).setTargeting('pos','ATF1').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));
googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));
googletag.pubads().collapseEmptyDivs();
googletag.pubads().enableSingleRequest();
googletag.pubads().enableVideoAds();
googletag.enableServices();
});
</script>
<!-- IDG CIO MPU1 -->
<div id='div-gpt-ad-{{ variable }}-300x250-0' style='width:300px' class='each-section'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-300x250-0'); });
</script>
</div>
