<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>


<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
    var gads = document.createElement('script');
    gads.async = true;gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;gads.src = (useSSL ? 'https:' : 'http:') +'//www.googletagservices.com/tag/js/gpt.js';var node = document.getElementsByTagName('script')[0];node.parentNode.insertBefore(gads, node);})();</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
	googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [600, 50], 'div-gpt-ad-{{ variable }}-600x50-1').addService(googletag.pubads()).setTargeting('pos','BTF1').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));

googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [600, 50], 'div-gpt-ad-{{ variable }}-600x50-2').addService(googletag.pubads()).setTargeting('pos','BTF2').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));

googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [600, 50], 'div-gpt-ad-{{ variable }}-600x50-3').addService(googletag.pubads()).setTargeting('pos','BTF3').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));

googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [600, 50], 'div-gpt-ad-{{ variable }}-600x50-4').addService(googletag.pubads()).setTargeting('pos','BTF4').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));

googletag.defineSlot('/8456/IDG.IN_B2B_{{ path }}/{{ variable }}', [600, 50], 'div-gpt-ad-{{ variable }}-600x50-5').addService(googletag.pubads()).setTargeting('pos','BTF5').setTargeting('Taxonomy',{{ var1|raw}});googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));
googletag.pubads().setTargeting('URL',encodeURIComponent(window.location));
googletag.pubads().collapseEmptyDivs();
googletag.pubads().enableSingleRequest();
googletag.pubads().enableVideoAds();
googletag.enableServices();
});
</script>
<style>
	#block-homerecommended--2,#block-homerecommended.block-home-recommended{height:75px;width:100%;line-height: 0px;}
	.block-home-recommended{padding-bottom:20px;}
</style>
<!-- Recomemded Section -->
<section class='google-ad-rec each-flow' >
  <div class='first_recommended_reads' id='div-gpt-ad-{{ variable }}-600x50-1' style='width:100%;height:35px;'>
<p style='font-size:10px;font-style:italic;' class='google-sponsored'>Partner Content<span class='span-ad'></span></p>
  	<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-600x50-1'); });</script></div>
  	<div class='recommended_reads' id='div-gpt-ad-{{ variable }}-600x50-2' style='height:25px; width:100%;'><script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-600x50-2'); });</script></div>
  	<div class='recommended_reads' id='div-gpt-ad-{{ variable }}-600x50-3' style='height:25px; width:100%;'><script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-600x50-3'); });</script></div>
  	<div class='recommended_reads' id='div-gpt-ad-{{ variable }}-600x50-4' style='height:25px; width:100%;'><script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-600x50-4'); });</script></div>
  	<div class='recommended_reads' id='div-gpt-ad-{{ variable }}-600x50-5' style='height:25px; width:100%;'><script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ variable }}-600x50-5'); });</script></div></section>
