{% set knowledge_ref = node.field_event_knowledgevault_ref.entity.field_partner_content_refernce.entity.field_knowledge_vault_navigation %}
{% set tab_color = node.field_event_knowledgevault_ref.entity.field_partner_content_refernce.entity.field_tab_color.value %}
{% set banner_top = node.field_event_knowledgevault_ref.entity.field_partner_content_refernce.entity.field_banner_top[0].entity.fileuri %}
<div class="special-pages">
  {% if node.field_event_knowledgevault_ref.entity.field_partner_content_refernce.entity.field_banner_top is not empty %}
  <a href="/node/{{node.field_event_knowledgevault_ref.entity.field_partner_content_refernce[0].target_id}}"><img src="{{ file_url(banner_top)}}"></a>
  {% endif %}
  <div class="tabs-content">
    <div class="field-content">
      <div>
        <a href="/node/{{node.field_event_knowledgevault_ref.entity.field_partner_content_refernce[0].target_id}}" style="background:{{tab_color}}">Home</a>
        {% for item in knowledge_ref%}
          <a href="/node/{{item.entity.field_partner_label[0].entity.nid[0].value}}" style="background:{{tab_color}}">
            {{item.entity.field_partner_label.value}}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
